.iletisimBody{
    background-color: #e6dacfb9;
    width: 100%;
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding-block: 80px;
    }
